[package]
name = "delta_module"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
clap = { version = "4.5.51", features = ["derive"] }
shared_files = { path = "../shared_files" }
